*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    display: block;
}

body{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}


.away-container{
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.text{
    align-self: center;
}

h2{
    margin-bottom: 30px;
}