@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap");

* {
    font-family: 'Roboto Condensed', sans-serif;
}


.container {
    max-width: 1200px;
    margin: auto;
}

header {
    padding: 10px 0;
}

.logo {
    display: inline-block;
    padding: 30px 10px 10px 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: yellow;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logo:hover {
    background-color: rgb(255, 221, 0);
}