@import '../config.css';



header{
    padding: 20px 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

header .logo{
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 20px;
}

header a{
    text-decoration: none;
    padding: 15px 30px;
    background-color: blue;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.products{
    padding: 50px 0;
}

.container{
    max-width: 1000px;
    margin: auto;
}

h2{
    font-size: 30px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

.products .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.products .product{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
}

.product .image{
    height: 200px;
    overflow: hidden;
}

.product .name{
    margin: 10px 0;
}

.product .description{
    margin-bottom: 20px;
}

.product .buy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form{
    width: 50%;
    margin: 50px 0;
}

form input{
    padding: 10px;
    display: block;
    margin: 10px 0;
    width: 100%;
}

form button{
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .container, h2{
        padding: 0 50px;
    }

    .products .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .product .image{
        height: 100px;
    }
}