@import './config';

header {
    padding-top: 30px;
    text-align: center;

    .cta-btn {
        font-size: 12px;
    }
}

.blogs {
    padding: 60px 0 100px 0;
}


footer {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}