*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}


h1{
    background: url('https://images.unsplash.com/photo-1561214115-f2f134cc4912?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60') no-repeat center center/cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 250px;
}